.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.topline {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 2px;
  background-color: #00B1B2;
  z-index: 1;
}

/* This is the CSS for the header
.header {
  position: fixed;
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  background-color: white;
}

.header-container {
  position: absolute;
  width: 1174px;
  height: 58px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoimg {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 50px;
  height: auto;
}

.logotext {
  position: absolute;
  top: 15px;
  left: 50px;
  margin-left: 5px;
  font-size: 14pt;
  font-weight: bold;
  font-family: Verdana;
  text-decoration: none; 
  color: #545454;

}

.search {
  position: absolute;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  width: 590px;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 3px;
}

.searchicon {
  width: 35px;
  height: auto;
}

.input {
  width: 440px;
  height: 35px;
  border: none;
  font-size: 11pt;
  font-family: Verdana;
  outline: none;
}

.searchbutton {
  width: 100px;
  height: 40px;
  background-color: #00B1B2;
  border: none;
  font-size: 10pt;
  font-family: Verdana;
  color: white;
  font-weight: bold;
  margin: 2px;
  
}

.searchbutton:hover {
  background-color: #037474;
}

.register-signin {
  position: absolute;
  left: 1000px;
  width: 170px;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.register {
  font-size: 10pt;
  font-weight: bold; 
  font-family: Verdana;
  color: #797878;
}

.register:hover {
  color: black;
}

.signin {
  font-size: 10pt;
  font-weight: bold;
  font-family: Verdana; 
  color: #00B1B2;
}






//This is the CSS for the navigation
.nav {
  position: fixed;
  top: 75px;
  width: 100vw;
  height: 60px;
  border: 1px solid lightgray;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.nav-container {
  position: absolute;
  width:1170px;
  height: 60px;
  display: flex;
  justify-content: center;
  
}

.video {
  width: 195px;
  height: 60px;
  background-color: #EFEFEF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  font-family: Verdana;
  color: #606060;
}

.video:hover {
  background-color: #00B1B2;
  color: white;
}

.video-menu {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.video-menu-text-box {
  margin: 0px 10px 10px 12px;
  width: 150px;
  height: 40px;
  display: flex;
  border-bottom: dotted 2px #BDBDBD;
  align-items: center;
}

.video-menu-text-box:hover {
  background-color: #EEECEC;
}

.video-menu-text {
  color: gray;
  font-family: Verdana;
  text-decoration: none;
  font-size: 11pt;
  margin: 2px 0px 0px 10px;
}

.podcast {
  width: 195px;
  height: 60px;
  background-color: #EFEFEF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  font-family: Verdana;
  color: #606060;
}

.podcast:hover {
  background-color: #00B1B2;
  color: white;
}

.hownot {
  width: 195px;
  height: 60px;
  background-color: #EFEFEF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  font-family: Verdana;
  color: #606060;
}

.hownot:hover {
  background-color: #00B1B2;
  color: white;
}

.about {
  width: 195px;
  height: 60px;
  background-color: #EFEFEF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  font-family: Verdana;
  color: #606060;
}

.about:hover {
  background-color: #00B1B2;
  color: white;
}

.donate {
  width: 195px;
  height: 60px;
  background-color: #EFEFEF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  font-family: Verdana;
  color: #606060;
} 

.donate:hover {
  background-color: #00B1B2;
  color: white;
}

.subscribe {
  width: 195px;
  height: 60px;
  background-color: #EFEFEF;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  font-family: Verdana;
  color: #606060;
}

.subscribe:hover {
  background-color: #00B1B2;
  color: white;
}






//This is the CSS for the hero
.hero {
  position: absolute;
  top: 135px;
  width: 100vw;
  height: 475px;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #00B1B2, #9FCC73)
}

.hero-container {
  position: absolute;
  width: 1170px;
  height: 475px;
}

.greger {
  position: absolute;
  width: 530px;
  height: auto;
  bottom: 0px;
  right: 20px;
}

.heroheadline {
  position: absolute;
  left: 0px;
  top: 60px;
  color: white;
  font-size: 30pt;
  font-weight: bold;
  font-family: Verdana;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);

}

.heropara1 {
  position: absolute;
  left: 0px;
  top: 140px;
  color: white;
  font-size: 13pt;
  font-family: Verdana;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.48);
  line-height: 30px;
}

.heropara2 {
  position: absolute;
  left: 0px;
  top: 240px;
  color: white;
  font-size: 12pt;
  font-family: Verdana;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.41);
  line-height: 25px;
}

.findoutmore {
  position: absolute;
  left: 0px;
  top: 325px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #00B1B2;
  color: white;
  font-family: Verdana;
  font-size: 14pt;
}

.findoutmore:hover {
  background-color: #037474;
}

.startwatching {
  position: absolute;
  left: 215px;
  top: 325px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: #EFEFEF;
  font-family: Verdana;
  font-size: 14pt;
}

.startwatching:hover {
  background-color: #CDCDCD;
}

.gotolatestvideo {
  position: absolute;
  left: 0px;
  top: 395px;
  color: #1F1F1F;
  font-size: 10pt;
  font-family: Verdana;
  border-bottom: dotted 1px;
  text-decoration: none;
}

.gotolatestvideo:hover {
  border-bottom: solid 1px #037474;
  color: #037474;
}

.michaelgreger {
  position: absolute;
  left: 530px;
  top: 380px;
  color: #1D1D1D;
  font-size: 10pt;
  font-family: Verdana;
  line-height: 25px;
}










//This is the CSS for the popular
.popular {
  position: absolute;
  top: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.popular-container {
  position: absolute;
  width: 1180px;
  height: 724px;
}

.popularheading {
  position: absolute;
  font-family: Verdana;
  font-weight: normal;
  font-size: 20pt;
  top: 40px;
  width: 1180px;
  height: 38px;
}

.health-nutrition {
  position: absolute;
  font-family: Verdana;
  font-weight: normal;
  font-size: 20pt;
  left: 0px;
}

.view-all-topics {
  position: absolute;
  right: 0px;
  top: 25px;
  width: 140px;
  height: 38px;
  border: solid 1px lightgray;
  border-radius: 5px;
  background-color: white;
}

.view-all-topics:hover {
  background-color: lightgray;
  border: solid 1px gray;
}

.view-all-topics a {
  text-decoration: none;
  font-family: Verdana;
  font-size: 11pt;
  color: black;
}

.popular-imgs-row-one {
  position: absolute;
  width: 1180px;
  height: 295px;
  display: flex;
  justify-content: space-between;
  top: 150px;
}

.popular-imgs-row-one img {
  width: 270px;
  height: 295px;
  border: solid 1px #E6E6E6;
}

.row-one-img-footer {
  position: absolute;
  width: 1180px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  top: 420px;
}

.row-one-img-footer div {
  width: 270px;
  height: 70px;
  border-left: solid 1px #E6E6E6;
  border-right: solid 1px #E6E6E6;
  border-bottom: solid 1px #E6E6E6;
  background-color: white;
}

.video-name {
  font-family: Verdana;
  font-size: 13pt;
  text-decoration: none;
  color: black;
  
}

.video-number {
  right: 10px;
  width: 40px;
  height: 25px;
  font-family: Verdana;
  border: solid;
}

.popular-imgs-row-two {
  position: absolute;
  width: 1180px;
  height: 700px;
  display: flex;
  justify-content: center;
  top: 600px;
  
}

.popular-imgs-row-two img {
  width: 270px;
  height: 295px;
  margin: 0px 15px 0px 15px;
  border: solid 1px #E6E6E6;
}




//This is the CSS for the latest
.latest {
  position: absolute;
  top: 1800px;
  border: 1px solid lightgray;
}

//This is the CSS for the footer
.footer{
  position: absolute;
  top: 1800px;
  border: 1px solid lightgray;
} */

